* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: rgb(24, 4, 44);
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.judul {
    text-align: center;
    letter-spacing: 0.15rem;
    background: -webkit-linear-gradient(0deg, #FEFEFE -20.43%, #27D7E5 13.7%, #5C74BA 49.25%, #7447A5 81.25%, #842998 116.09%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #11052D;
    position: relative;
}

.judul::after{
    letter-spacing: 0.15rem;
    background: -webkit-linear-gradient(0deg, #FEFEFE -20.43%, #27D7E5 13.7%, #5C74BA 49.25%, #7447A5 81.25%, #842998 116.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px transparent;
    content: 'TEAMM HORE';
    position: absolute;
    left: 5px;
    top: 3px;
    width: 100%;
}

.container form {
    margin: 50px auto 0px;
    width: 100%;
    max-width: 700px;
    display: flex;
    align-content: flex-end;
    flex-direction: row;
}

form input {
    background-color: #D9E9FF61;
}

.image {
    display: flex;
    flex-direction: column;
    width: fit-content;
    row-gap: 15px;
    
}

.image .btn-secondary {
    align-self: flex-end;
}

.image label , input {
    align-self: stretch;
    display: block;
}

.image input[type="image"] {
    width: 239px;
    height: 239px;
    text-align: center;
    line-height: 239px;
}

.team {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

.team div label {
    display: block;
}

.image-data {
    flex-direction: column;
    column-gap: 30px;
}

.team-data {
    display: flex;
    flex-direction: column;
}

.team .team-data div {
    width: 100%
}

.team div input {
    width: 300px;
    align-self: stretch;
    height: 30px;
    border: none;
}

.btn-secondary {
    width: fit-content;
    align-content: flex-end;
}

.team .team-data .btn-secondary {
    align-self: flex-end;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .container form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form .team .team-data {
        align-self: center;
    }

}