nav {
    display: flex;
    align-items: center;
    background-color: #250B62;
    padding: 0 1.75rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.logo img{
    width: 129px;
    height: 49px;
}

.nav-content {
    width: 100%;
    display: flex;
    gap: 54px;
}

.nav-menu{
    display: flex;
    align-items: stretch;
    gap: 42px;
}

.nav-menu .nav-list{
    display: flex;
}

.nav-menu .nav-list:hover{
    border-bottom: 4px solid rgb(8, 183, 238);
    box-sizing: border-box;
}

.nav-menu .nav-list a{
    margin-top: 1rem;
}

.nav-menu .nav-list a:hover{
    color: rgb(8, 183, 238);
}