* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: rgb(24, 4, 44);
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 125px auto ;
    width: fit-content;
}
.title  {
    text-align: center;

}

.title h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 5px;
}

.title .under {
    color: rgb(40, 12, 100);
    background: linear-gradient(to right, rgba(39, 215, 229, 100%) 0%, rgba(92, 116, 186, 20) 30%,  rgba(116, 71, 165, 100%)100%,rgba(132, 41, 152, 100%) 150%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;

}

.forms {
    margin: 60px auto 0px;
    width: fit-content;
    padding: 25px 25px 50px 25px;
    background-color: #5D5C7D;
    border-radius: 10px;
    align-content: flex-end;
    
}

.form-title {
    margin-bottom: 30px;
}

.form-title h1 {
    font-size: 48px;
    margin-bottom: 5px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    
}

.school {
    
}


.name div, .school div {
    margin-bottom: 20px;
}

.name div label, .school div label {
    display: block;
    margin-bottom: 5px; 
}

.name div input, .school div input {
    width: 375px;
    height: 25px;
    padding: 0px 5px;
    background-color: #D9E9FF61;
    border: none;

}

.btn-secondary {
   align-self: flex-end;
   position: absolute;
   left: 80%;
   top: 100%;
   padding-bottom: 20px
}

/*

.submit {
    position: relative;
    left: 600px;
    background-color: transparent;
}

.submit input {
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px 50px;
    cursor: pointer;
}
*/
/*
form p {
    margin-bottom: 20px;
}

form p label {
    display: block;
    margin-bottom: 5px;
}

form p input {
    width: 375px;
    height: 25px;
    padding: 0px 5px;
    background-color: #D9E9FF61;
    border: none;

}
*/
/* .reg-button {
    border: 1px solid red ;
    padding: 7px 40px;
    width: fit-content;
    position: relative;
    left: 600px;
    border: 1px solid white ;
    border-radius: 10px;
}
*/

